<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sharpdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SharpDown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sharpdown.Properties.Settings>
            <setting name="IsIe9StandardsModeSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckIfIe9StandardsModeIsSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkdownParseDelayMilliseconds" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MarkdownAutoCompletionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHtmlViewScriptErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </Sharpdown.Properties.Settings>
        <SharpDown.Properties.Settings>
            <setting name="Ie9StandardsModeSet" serializeAs="String">
                <value>False</value>
            </setting>
        </SharpDown.Properties.Settings>
    </userSettings>
</configuration>